body {
  background-color : rgb(220, 220, 220);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: rgb(0, 71, 94);
}

p {
 color: rgb(50, 50, 50);
}

.movies {
  width: 300px;
  height: 300px;
}

.container {
  width: 500px;
  margin: 30px auto;
}

#profile-pic {
  border-radius: 50%;
  border: 2px rgba(50, 50, 50, 0.5) solid;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.card {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
}

.standard-image {
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
